/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  	--accent-color: rgba(255, 0, 112, 1);
	--accent-text: rgba(0, 0, 40, 1);
	--color-header: rgba(219, 0, 255, 1);
	--color-content: rgba(0, 0, 40, 1);
	--color-rectengle: rgba(255, 0, 112, 1);
	--color-title: #FF0070;
	--color-subtitle: #F1B2CE;
	--color-link: #FF0070;
	--button-hover: #FF007066;
	--font-family: IBM Plex mono;
	--background-image-black: url(../images/cover-image-dark.png);
	--background-color-fallback: #000937;
}

@media (prefers-color-scheme: dark) {
	:root.theme-auto {
	--accent-color: rgba(255, 0, 112, 1);
	--accent-text: rgba(0, 0, 40, 1);
	--color-header: rgba(219, 0, 255, 1);
	--color-rectengle: rgba(255, 0, 112, 1);
	--color-title: #FF0070;
	--color-subtitle: #F1B2CE;
	--color-link: #FF0070;
	--button-hover: #FF007066;
	--font-family: IBM Plex mono;
	--background-image-black: url(../images/cover-image-dark.png);
	--background-color-fallback: #000937;
	}
}
