/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  	--accent-color: rgba(255, 141, 203);
	--color-header: rgba(255, 194, 230);
	--color-content: rgba(53, 52, 48);
	--color-title: rgba(53, 52, 48);
	--color-link: rgba(53, 52, 48);
	--color-subtitle: rgba(53, 52, 48);
	--button-hover: rgba(50, 49, 45, 0.4);
	--font-family: IBM Plex mono;
	--background-image-black: url(../images/cover-image-light.png);
	--background-color-fallback: #fff1f7;
}

@media (prefers-color-scheme: light) {
	:root {
		--accent-color: rgba(255, 141, 203);
		--color-header: rgba(255, 194, 230);
		--color-content: rgba(53, 52, 48);
		--color-title: rgba(53, 52, 48);
		--color-link: rgba(53, 52, 48);
		--color-subtitle: rgba(53, 52, 48);
		--button-hover: rgba(50, 49, 45, 0.4);
		--font-family: IBM Plex mono;
		--background-image-black: url(../images/cover-image-light.png);
		--background-color-fallback: #fff1f7;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--accent-color: rgba(255, 141, 203);
		--accent-text: rgba(53, 52, 48);
		--color-header: rgba(255, 194, 230);
		--color-content: rgba(53, 52, 48);
		--color-title: rgba(53, 52, 48);
		--color-link: rgba(53, 52, 48);
		--color-subtitle: rgba(53, 52, 48);
		--button-hover: rgba(50, 49, 45, 0.4);
		--font-family: IBM Plex mono;
		--background-image-black: url(../images/cover-image-light.png);
		--background-color-fallback: #fff1f7;
	}
}

@media (prefers-color-scheme: light) {
	.theme-auto .header__rec {
		visibility: hidden;
	}
}

.theme-light .header__rec {
	visibility: hidden;
}