/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color-fallback);
  background-image: var(--background-image-black);
  block-size: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family, monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  height: 100vh;
  min-height: 668px;
  min-width: 354px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-title);
  border-right: 1px solid var(--color-title);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-title);
  border-bottom: 1px solid var(--color-title);
  bottom: 10px;
  left: 10px;
}

.header__rec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13px;
  right: 20px;
  column-gap: 10px;
  font-weight: 400;
}

.header__rec::after {
  content: "";
  display: inline-block;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block-end: 5px;
  padding-block-start: 3px;
  border: 1px solid transparent;
  color: var(--color-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-default);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-link);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color-link);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-link);
}

.header__title {
  font-size: var(--logo-size);
  color: var(--color-header, rgba(219, 0, 255, 1));
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 95px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-row: 2;
}

.header__subtitle {
  line-height: 23.4px;
  color: var(--color-content);
  grid-row: 3;
  max-width: 355px;
  justify-self: center;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.subtitle {
  font-weight: 400;
  margin: 0;
}

.concentration {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  padding-block-start: 40px;
  gap: 20px;
}

.consideration {
  padding-block-start: 45px;
  row-gap: 20px;
}

.concentration-advice {
  display: grid;
  padding-block-start: 54px;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.content {
  font-family: var(--font-family, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.content__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  gap: 20px;
}

.concentration__item {
  gap: 10px;
  font-weight: 700;
}

.concentration__title {
  grid-row: 1;
}

.concentration__item-title {
  color: var(--color-content);
  font-family: var(--font-family, monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.concentration__item-subtitle {
  color: var(--color-subtitle);
  font-weight: 400;
}

.consideration__item {
  display: grid;
  font-weight: 700;
  gap: 10px;
}

.consideration__title {
  color: var(--accent-text);
  font-size: 18px;
  grid-row: 1;
}

.consideration__item-title {
  color: var(--color-content);
  font-family: var(--font-family, monospace);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.consideration__item-subtitle {
  color: var(--color-subtitle);
  font-weight: 400;
}

.concentration-advice__title {
  color: var(--accent-text);
  grid-row: 1;
}

.concentration-advice__list {
  gap: 20px;
}

.concentration-advice__item-title {
  color: var(--color-content);
  font-size: 18px;
}

.concentration-advice__item-subtitle {
  margin-block-start: 10px;
  color: var(--color-subtitle);
  font-weight: 400;
}

.section__title {
  font-family: var(--font-family, monospace);
  color: var(--color-title);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.content__link:hover {
  text-shadow: 2px 2px 0 var(--accent-color);
  border-bottom: 1px solid var(--color-subtitle);
  cursor: pointer;
}

.content__link:focus {
  border: 1px solid var(--color-subtitle);
}

.content__link:focus-visible {
  outline: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  padding-inline-start: 3px;
  padding-inline-end: 4px;
  border: 1px solid var(--color-subtitle);
  cursor: pointer;
}

.pictures {
  padding-block-start: 53px;
  gap: 10px;
}

.pictures__title {
  color: var(--color-content);
}

.pictures__images {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 10px;
}

img {
  width: 100%;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  display: grid;
  margin-block-start: 32px;
  padding: 10px;
  background-color: var(--background-color-fallback);
}

.footer__title {
  font-size: var(--logo-size);
  color: var(--color-header, rgba(219, 0, 255, 1));
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 95px;
  font-family: var(--font-family, monospace);
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    min-height: 1016px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__rec {
    top: 23px;
    right: 30px;
    column-gap: 10px;
  }

  .header__theme-menu {
    align-self: flex-end;
    margin-block-start: 160px;
  }

  .header__theme-menu-list {
    padding-block-end: 57px;
    justify-content: center;
    align-items: flex-end;
  }

  .header__title {
    font-size: var(--logo-size);
    margin-inline-start: -20px;
  }

  .header__subtitle {
    margin-block-start: 53px;
    max-width: 364px;
    justify-self: flex-end;
    align-self: flex-start;
  }

  .concentration {
    padding-block-start: 50px;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .concentration__list {
    gap: 20px;
    margin-block-start: 17px;
  }

  .concentration__title {
    width: 236px;
    margin-block-start: 20px;
  }

  .consideration {
    padding-block-start: 65px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .consideration__list {
    gap: 20px;
    font-family: var(--font-family, monospace);
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0;
  }

  .consideration__title {
    width: 236px;
    margin-block-start: 15px;
  }

  .concentration-advice {
    padding-block-start: 80px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .concentration-advice__title {
    width: 236px;
  }

  .concentration-advice__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column: 2;
    grid-row: 1;
    margin-block-start: 43px;
  }

  .concentration-advice__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .concentration-advice__item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .concentration-advice__item:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .concentration-advice__item:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .concentration-advice__item:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .concentration-advice__item-title {
    height: fit-content;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
  }

  .pictures {
    padding-block-start: 77px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    row-gap: 20px;
  }

  .pictures__images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .pictures__image:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .pictures__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pictures__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pictures__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .pictures__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .footer {
    margin-block-start: 60px;
    padding: 20px;
    min-height: 1024px;
  }

  .footer__title {
    grid-row: 1;
  }
}

@media (width >= 1024px) {
  .header {
    row-gap: 12px;
    min-height: 761px;
  }

  .header__theme-menu {
    align-self: flex-start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-item {
    align-self: flex-start;
  }

  .header__subtitle {
    max-width: 491px;
  }

  .concentration {
    padding-block-start: 60px;
    gap: 11px;
  }

  .concentration__title {
    width: 315px;
    margin-block-start: 8px;
  }

  .concentration__list {
    margin-block-start: 8px;
  }

  .consideration__title {
    width: 260px;
  }

  .consideration__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .consideration__item {
	  display: grid;
	  grid-template-rows: repeat(3, auto); 
	  grid-template-columns: 1fr;
	  height: max-content;
  }

  .concentration-advice {
    padding-block-start: 70px;
  }

  .concentration-advice__title {
    width: 313px;
  }

  .pictures {
    padding-block-start: 82px;
  }

  .footer {
    min-height: 768px;
  }
}
