/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--accent-color: rgba(255, 0, 112, 1);
	--accent-text: rgba(0, 0, 40, 1);
	--color-header: rgba(219, 0, 255, 1);
	--color-content: rgba(0, 0, 40, 1);
	--color-rectengle: rgba(255, 0, 112, 1);
	--color-title: #FF0070;
	--color-subtitle: #F1B2CE;
	--color-link: #FF0070;
	--button-hover: #FF007066;
	--font-family: IBM Plex mono;
	--background-image-black: url(../images/cover-image-dark.png);
	--background-color-fallback: #000128;
  --border-link: rgba(255, 0, 112, 0.4);
  --border-default: #FF0070;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}